# Tokenizer

## Mecab 설치

In [ ]:
%%bash
apt-get update
apt-get install g++ openjdk-8-jdk python-dev python3-dev
pip3 install JPype1
pip3 install konlpy

In [ ]:
%env JAVA_HOME "/usr/lib/jvm/java-8-openjdk-amd64"

In [ ]:
%%bash
bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)
pip3 install /tmp/mecab-python-0.996

## Import

In [2]:
import sys
import pandas as pd

import konlpy
from konlpy.tag import Mecab, Kkma, Komoran, Hannanum, Okt
from konlpy.utils import pprint

## Tokenizing

In [3]:
m = Mecab()
sentence = "안녕하세요 설치가 정상적으로 완료되었습니다."
m.morphs(sentence)

['안녕', '하', '세요', '설치', '가', '정상', '적', '으로', '완료', '되', '었', '습니다', '.']

In [4]:
# m = Mecab()
# from google.colab import drive
# drive.mount('/content/drive')
filename = '/content/kidchosun (1).json'
df = pd.read_json(filename, lines=True)
df.head(2)

                                    _id  ...   source
0  {'$oid': '61fc7fc7e1791fc0544944ba'}  ...  어린이조선일보
1  {'$oid': '61fc7fc7e1791fc0544944bb'}  ...  어린이조선일보

[2 rows x 9 columns]

In [5]:
titles = df["title"].to_list()
titles[:3]

['[교과서 한자어] 樹液(수액)', '‘우편 트럭’ 선물받은 암투병 美 소년', '프란치스코 교황 ‘코로나 인포데믹’ 우려']

In [12]:
noun = set(["NNG", "NNP", "NP"])
verb_adject = set(["VV", "VA"])

for title in titles:
    for word, tag in m.pos(title):
        if tag in verb_adject:
            print(word+"다", end=" ")
        elif tag in noun:
            print(word, end=" ")

In [13]:
# open('mapper_result.txt', 'w')