<a href="https://colab.research.google.com/github/sheon-j/webcrawling-study/blob/main/tokenization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tokenizer

## Insatll Mecab

In [ ]:
%%bash
apt-get update
apt-get install g++ openjdk-8-jdk python-dev python3-dev
pip3 install JPype1
pip3 install konlpy

In [2]:
%env JAVA_HOME "/usr/lib/jvm/java-8-openjdk-amd64"

env: JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64"

In [ ]:
%%bash
bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)
pip3 install /tmp/mecab-python-0.996

## Import

In [4]:
import sys
import pandas as pd

import konlpy
from konlpy.tag import Mecab, Kkma, Komoran, Hannanum, Okt
from konlpy.utils import pprint

## Load Data

In [5]:
m = Mecab()
sentence = "안녕하세요 설치가 정상적으로 완료되었습니다."
m.morphs(sentence)

['안녕', '하', '세요', '설치', '가', '정상', '적', '으로', '완료', '되', '었', '습니다', '.']

In [7]:
# m = Mecab()
# from google.colab import drive
# drive.mount('/content/drive')

filename = '/content/kidchosun.json'
df = pd.read_json(filename, lines=True)
df.head(2)

                                    _id  ...   source
0  {'$oid': '61f8cea439e076716ad594ea'}  ...  어린이조선일보
1  {'$oid': '61f8cea439e076716ad594eb'}  ...  어린이조선일보

[2 rows x 9 columns]

## Define

In [25]:
# target pos set
noun = {"NNG", "NNP", "NP"}
verb_adj = {"VV", "VA"}

def tokenizer(text):
    # input/output object
    token = m.pos(text)
    result = ""
    # processing
    for word, tag in token:
        if tag in verb_adj:
            result += word + "다 "
        elif tag in noun:
            result += word + " "
    # result
    return result

## Process Data

In [26]:
result = ""
for title in titles:
    result += tokenizer(title)

result

'책 읽다 화 때 기분 좋다 비법 있다 오늘 내 뚱딴지 작가 일자 면 구성 행시 짓다 곰돌이 푸 스텔스 오미크론 변종 영상 출동 명예 기자 화제 인물 글 쓰다 의사 남궁 만나다 원피스 대신 바지 입다 미니 마우스 신자영 영어 세계 기록 달성 기록 달인 탄생 이번 주 미션 美 포브스 한국 미국 최대 수출국 토스트 팬케이크 아침 먹다 초등 중학생 게임 시간 하루 평균 시간 프란치스코 교황 코로나 인포 믹 우려 위기 코알라 시사 낱말 퍼즐 우편 트럭 선물 받다 암투병 美 소년 겨울잠 자다 땅다람쥐 우주 여행 비법 설날 고기 사다 소라게 손가락 괜찮다 나 살다 곳 세계 문화유산 팔만대장경 기운 받다 새해 좋다 일 하다 '

## Save File

In [20]:
with open("mapper_result.txt", "w", encoding="utf-8") as text_file:
    text_file.write(result)